<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortune's Spindle</title>
    <style>
        .page {
            background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
            background-size: 1500px;
        }

        .page h2 {

            text-align: center;

        }
    </style>
</head>

<body>
    <div class="page">
        <p>
        <h2>Information</h2>
        <p style="font-weight: bold">
            Fortune's spindle known also as winter creeper is an evergreen species with long stems that can either
            spread along
            the ground or climb by means of adventitious rootlets. It belongs to the Celastraceae - bittersweet family.
            It can
            grow 2-5 m high, producing 0,5-1 m of new growth a year.
        </p>
        <h2>How to take care of Fortune's Spindle Plant</h2>
        <ol>
            <li style="font-weight: bold">Water<p>Water the plant when the top three inches of soil are dry. </p>
            </li>

            <li style="font-weight: bold">Light<p>Wintercreeper thrives in full sun to part shade, but it can tolerate a
                    significant amount of shade.
                </p>
            </li>

            <li style="font-weight: bold">Soil<p>Wintercreeper grows easily in average, medium moisture, well-drained
                    soil. It prefers alkaline soil
                    but will tolerate many different soil conditions, including compacted soil, slightly acidic to
                    slightly
                    alkaline pH between 6.0 to 8.0, as well as dry (and even drought) soil conditions. However, it does
                    not
                    do well in wet soil.</p>
            </li>

            <li style="font-weight: bold">Temperature and Humidity<p>Wintercreeper euonymus does well in all climate
                    conditions</p>
            </li>
        </ol>

        <h2>Problems</h2>
        <ol>
            <li style="font-weight: bold"> Euonymus scale, an armored insect that attacks the leaves and stems of
                infected plants.</li>
            <li style="font-weight: bold">Powdery Mildew</li>
            <li style="font-weight: bold">Crown Gall</li>
        </ol>

        <h2>Solution</h2>
        <ul>
            <li style="font-weight: bold">Use neem oil.</li>
            <li style="font-weight: bold">Remove the leaves which have crown gall.</li>

        </ul>
        <textarea></textarea>
        </p>
    </div>
</body>

</html>