<!--<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        .photo img {
            width: 30%;
            height: 60%;
            margin-top: 2cm;
            margin-left: 4cm;
            display: flex;

        }

        .main {
            display: grid;
        }
    </style>

</head>

<body>
    <div class="main">
        <div class="photo">
            <img src="side.jpg" alt="">
        </div>

        <div>
            <h1>About Us</h1>
        </div>
    </div>
</body>

</html>-->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>About Section | By Code Info</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kanit:ital,wght@1,300&family=Nunito+Sans:wght@300&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-image: url("img/about.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
            width: 100%;
            position: relative;
        }

        .wrapper {
            background: transparent;
            justify-content: center;
            max-width: 750px;
            width: 800%;
            border-radius: 15px;
            margin-left: 25%;
            margin-top: 15%;
            padding: 25px;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 20px;
            color: yellow;
            font-family: 'Kanit', sans-serif;
        }

        .about-section {
            display: flex;
            justify-content: center;

        }

        /*img {
            width: 200px;
            margin: 10px;
            border-radius: 10px;
            box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.4);
        }*/

        p {
            margin: 10px;
            justify-content: center;
            color: black;
            font-size: large;
            font-family: 'Kanit', sans-serif;
        }

        /*button {
            outline: none;
            border: none;
            cursor: pointer;
            width: 100px;
            padding: 8px 12px;
            background: #1da1f2;
            margin: 25px 20px 0 0;
            color: white;
            border-radius: 6px;
        }*/

        /*button:hover {
            box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
        }*/
    </style>

</head>

<body>
    <div class="wrapper">
        <h1>-- About Us --</h1>
        <div class="about-section">
            <!--<img src="about.jpg">-->
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel nam harum fuga adipisci facilis pariatur
                reiciendis dicta distinctio, beatae laudantium nemo dolor? Quia, quibusdam ex doloribus illum ipsa earum
                odio repudiandae eligendi dicta commodi dolores.
                <br />
                <!--<button>
                    <a href="cardS.html"> More Info</a>
                </button>-->
            </p>
        </div>
    </div>
</body>

</html>