<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArecaFan_plant</title>
    <style>
        .page {
            background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
            background-size: 1500px;
        }

        .page h2 {

            text-align: center;

        }
    </style>
</head>

<body>
    <div class="page">
        <p>
        <h2>Information</h2>
        <p style="font-weight: bold">
            The windmill palm has a single, thick trunk covered in hairy brown fibers. Its long, densely-packed,
            fine-toothed
            fronds fan out from a symmetrical crown, creating a windmill shape. Some of the leaf tips are stiff, while
            others
            are droopy. Windmill palm trees can grow anywhere from 10-40 feet.
        </p>
        <h2>How to take care of plant</h2>
        <ol>
            <li style="font-weight: bold">Water<p>Newly planted windmill palms should be watered every few days.
                    Established plants should be
                    watered
                    once or twice weekly.</p>
            </li>

            <li style="font-weight: bold">Light<p>Windmill palm prefers a semi-shade or shady location, but will
                    tolerate full sun in more
                    northern
                    climates.</p>
            </li>

            <li style="font-weight: bold">Soil<p>As long as there is good drainage, the windmill palm will grow in most
                    soil conditions and pH
                    levels.
                    It does not like to have wet feet. The leaves are somewhat delicate, so a location somewhat
                    sheltered
                    from harsh winds is best as strong winds may shred the leaves. </p>
            </li>

            <li style="font-weight: bold">Temperature and Humidity<p>Windmill palms are cold-hardy, tropical plants.
                    They can survive down to -4
                    degrees Fahrenheit</p>
            </li>

            <li style="font-weight: bold">Fertilizer<p>Windmill palm needs a slow-release fertilizer twice a year: first
                    in the spring, then again
                    in
                    summer or fall.</p>
            </li>
        </ol>

        <h2>Problems</h2>
        <ol>
            <li style="font-weight: bold">experiences problems from scale insects and palm aphids.</li>
            <li style="font-weight: bold">leaf spots and yellowing disease sometimes occur.</li>
            <li style="font-weight: bold">Root rot.</li>
        </ol>

        <h2>Solutions</h2>
        <ul>
            <li style="font-weight: bold">Soil should be well-drained.</li>
            <li style="font-weight: bold">overwatering should be avoided.</li>
            <li style="font-weight: bold">use neem oil fpr pests.</li>
        </ul>

        <textarea></textarea>
        </p>
    </div>
</body>

</html>