<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucky-Bamboo</title>
    <style>
        .page{
           background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
           background-size: 1500px;
       }
       .page h2{
       
           text-align: center;
           
       }
   </style>
</head>
<body>
    <div class="page">
    <p>
        <h2>Information</h2>
        <p style="font-weight: bold">
        Sculptural lucky bamboo plants have eye-catching shapes, swirls, or braided stalks, and are frequently spotted in offices 
        and residences for the purpose of good feng shui. They can also be trained so that stalks grow straight as an arrow and are 
        adorned with smallish, simple floppy green leaves. Be aware that this plant is not lucky for pets because it's toxic to cats and dogs.
            </p>
        <h2>How to take care of Lucky-Bamboo </h2>
        <ol>
            <li style="font-weight: bold">Water:<p>If growing in a water vase filled with pebbles, change the water weekly to avoid any diseases and odors. Make sure that the water is always completely covering the roots.
                 Add a bit of water every two to seven days as needed.</p></li>
            <li style="font-weight: bold">Temperature and Humidity:<p>As you may expect, lucky bamboo plants prefer warmer temperatures, ranging between 65 degrees Fahrenheit and 90 degrees Fahrenheit.
                Average humidity is fine for your lucky bamboo plant.
            </p></li>
            <li style="font-weight: bold">Light:<p>When it comes to light, lucky bamboo prefers bright, filtered sunlight,avoid direct sunlight as it will scorch the leaves. 
                Rotate your plant often so that the light reaches the entire plant evenly.
            </p></li>
            <li style="font-weight: bold">Soil:<p>Lucky bamboo can be grown in well-drained, rich potting soil. The soil should be kept moist, but not soaked.</p></li>
            
        </ol>

        <h2>Problems</h2>
        <ol>
            <li style="font-weight: bold">Browning Leaf Tips</li>
            <li style="font-weight: bold">Black Roots</li>
            <li style="font-weight: bold">Yellow and Brown Leaves</li>
            <li style="font-weight: bold">Mushy Stalks</li>
        </ol>

        <h2>Solutions</h2>
        <ul>
            <li style="font-weight: bold">If your bamboo has yellow leaves that means your bamboo is underwatering.</li>
            <li style="font-weight: bold">Use less clorinated water as it cause browning of the tips of leaves</li>
            <li style="font-weight: bold">Cut the balck roots away.</li>
            <li style="font-weight: bold">If you grow your bamboo in water then change it weekly.</li>
        </ul>
        <textarea></textarea>
    </p>
    </div>
</body>
</html>