<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boston-Plant</title>
    <style>
        .page {
            background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
            background-size: 1500px;
        }

        .page h2 {

            text-align: center;

        }
    </style>
</head>

<body>
    <div class="page">
        <p>
        <h2>Information</h2>
        <p style="font-weight: bold">
            This evergreen plant can reach as high as 40–90 centimetres (16–35 in), and in extreme cases up to 1.5
            metres (4 ft
            11 in). It is also known as the Boston swordfern, wild Boston fern, Boston Blue Bell Fern, tuber ladder
            fern, or
            fishbone fern.
        </p>
        <h2>How to take care of Boston-Plant</h2>
        <ol>
            <li style="font-weight: bold">Water<p>The key to successfully growing a Boston fern is to keep the soil
                    lightly moist—but not soggy—during
                    the spring and summer when it is actively growing.Requires more frequent waterings for those grown
                    outside in warm environments.</p>
            </li>

            <li style="font-weight: bold">Light<p>Boston fern does best when grown in a location with bright, indirect
                    light. Too much shade can
                    result in sparse fronds that appear lackluster, and too much sun can burn the fronds.</p>
            </li>

            <li style="font-weight: bold">Soil<p>Ferns like organically rich, loamy soil with good drainage. Adding
                    compost and peat to your outdoor
                    garden before planting is typically recommended.</p>
            </li>

            <li style="font-weight: bold">Temperature and Humidity<p>Boston fern prefers temperatures between 18°C and
                    23°C. They can’t tolerate
                    extreme heat or extreme cold.This fern also thrives in humidity levels above 80 percent. </p>
            </li>


        </ol>

        <h2>Problems</h2>
        <ol>
            <li style="font-weight: bold">The plant sometimes become a target of arget for whiteflies, mealybugs</li>
            <li style="font-weight: bold">Some chewing insects, like snails, slugs, and caterpillars also attack them.
            </li>
            <li style="font-weight: bold">suffer from blight, a fungal infection that will leave the plant covered in a
                brow web-like mycelium.</li>
        </ol>

        <h2>Solutions</h2>
        <ul>
            <li style="font-weight: bold">Whiteflies are best controlled by reducing the population with several blasts
                from the garden hose.</li>
            <li style="font-weight: bold">Mealybugs can be spot treated with a diluted solution of isopropyl alcohol.
            </li>
            <li style="font-weight: bold">Blight can be treated naturally by simply repotting the plant </li>
        </ul>
        <textarea></textarea>
        </p>
    </div>
</body>

</html>