<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chandani-Plant</title>
    <style>
        .page{
           background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
           background-size: 1500px;
       }
       .page h2{
       
           text-align: center;
           
       }
   </style>
</head>
<body>
    <div class="page">
    <p>
        <h2>Information</h2>
        <p style="font-weight: bold">
        Arabian jasmine is famous for its fragrant flowers
         and its use in jasmine tea and leis. It is a fast-
         growing evergreen climbing shrub. Glossy, dark green 
         oval leaves create a beautiful contrast to the highly
          fragrant, white flowers that fade to pink as they age.
           These beautiful-smelling blooms appear all summer
            long and may continue to bloom year-round in warm 
            climates.
            </p>

            <h2>How to take care of the plant</h2>
            <ol>
                <li style="font-weight: bold">Water<p>Arabian jasmine requires plenty of water, especially during the summer season. Water this plant regularly to keep the soil moist, though not wet. Avoid soggy soil as this will lead to rot.
                    This may be once a week or more, depending on your location. It is best to reduce this plant’s water during the winter. 
                </p></li>

                <li style="font-weight: bold">Light<p>Full to partial sun is needed for healthy Arabian jasmine plants. At least 6 to 8 hours of sunlight per day is ideal. If kept indoors during the winter, be sure to place this plant in a very sunny window.</p></li>

                <li style="font-weight: bold">Soil<p>Loose, loamy, humusy soil is preferred by this flowering shrub. It likes an evenly moist, well-draining soil medium. Adding compost will help loosen, enrich, and moisten the soil. </p></li>

                <li style="font-weight: bold">Temperature and Humidity<p>They are very susceptible to frost and cannot handle cold temperatures.
                    Because they are tropical plants, Arabian jasmine needs moderate to high humidity levels.  
                </p></li>

                <li style="font-weight: bold">Fertilizer<p>It is best to use a high-quality, well-balanced fertilizer. Begin fertilizing after pruning in late winter or early spring. </p></li>
</ol>
                <h2>Problems</h2>
                <ol>
                    <li style="font-weight: bold">leaves turn yellow</li>
                    <li style="font-weight: bold">flowers turning brown</li>
                    <li style="font-weight: bold">has pests like spider mites,powdery mildew,mealybugs</li>
                </ol>
<h2>Solutions</h2>
<ul>
    <li style="font-weight: bold">Required rich,organic and well-drained soil</li>
    <li style="font-weight: bold">The plant can be prone to heat scorch when place in extreme heat.</li>
    <li style="font-weight: bold">Use insecticidal or neem oil to remove mealybugs and powdery mildew.</li>
    <li style="font-weight: bold">You should trim the infected part to get rid of spider mites.</li>
</ul>
<textarea></textarea>
            
    </p>
    </div>
</body>
</html>