<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portulaca</title>
    <style>
        .page{
           background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
           background-size: 1500px;
       }
       .page h2{
       
           text-align: center;
           
       }
   </style>
</head>
<body>
    <div class="page">
    <p>
        <h2>Information</h2>
        <p style="font-weight: bold">
        Portulaca grandiflora is a succulent flowering plant in the family Portulacaceae, 
        native to southern Brazil, Argentina, and Uruguay and often cultivated in gardens.
         It has many common names, including rose moss, eleven o'clock, Mexican rose, moss 
         rose, sun rose, rock rose, and moss-rose purslane.
            </p>
         <h2>How to take care of Portulaca</h2>
         <ol>
            <li style="font-weight: bold">Water:<p>Moss rose plants have low moisture needs.
                The plants will tolerate periods of dryness, but flowering is usually better with some
                 (well-drained) soil moisture.
            </p></li>

            <li style="font-weight: bold">Temperature and Humidity:<p>moss roses like high heat and low humidity.
                It will tolerate cool, moist spring weather as long as it is frost-free. However, the best growth (and blooming)
                 won't occur until the summer heat comes along.
            </p></li>

            <li style="font-weight: bold">Fertilizer:<p>Moss roses can tolerate lean soil, so they typically don't need fertilizer.
                You can also fertilize twice during the plant's growing season, this time using a blend that's 
                high in phosphorous for more bountiful blooms.
            </p></li>

            <li style="font-weight: bold">Light:<p>Moss rose plants need full sun, at least six to eight hours on most days to look and bloom their best.</p></li>

         </ol>

         <h2>Problems:</h2>
         <ol>
            <li style="font-weight: bold">Pests like aphids and spider mites.</li>
            <li style="font-weight: bold">Root rot</li>
            <li style="font-weight: bold">overwatering</li>
         </ol>

         <h2>Solutions:</h2>
         <ul>
            <li style="font-weight: bold">Remove all leaves which are affected from pests.</li>
            <li style="font-weight: bold">Give full exposer of sunlight.</li>
            <li style="font-weight: bold">Maintain low humidity.</li>
         </ul>
         <textarea></textarea>
    </p>
    </div>
</body>
</html>