<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Croton-Plant</title>
    <style>
        .page {
            background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
            background-size: 1500px;
        }

        .page h2 {

            text-align: center;

        }
    </style>
</head>

<body>
    <div class="page">
        <p>
        <h2>Information</h2>
        <p style="font-weight: bold">
            Croton is a small shrub used as a landscape plant in tropical climates. In its native habitat, croton is a
            branching, bushy shrub that grows up to 10 feet tall but those offered as houseplants are usually much
            smaller than
            the wild plant. The large, thick, leathery leaves are 2 to 12 inches long and quite variable.
        </p>
        <h2>How to take care of croton plant</h2>
        <ol>
            <li style="font-weight: bold">Water<p>Keep croton plants evenly moist in the summer. Crotons need about 1
                    inch of water per week. Reduce
                    watering in the winter to biweekly.
                    Mist frequently during the growth period.
                </p>
            </li>

            <li style="font-weight: bold">Light<p>Croton plants need a fair amount of sun. Bright, indirect light is
                    best. Some croton plant varieties
                    don't tolerate unfiltered, direct sun as well as others, but they will thrive in dappled sunlight.
                    If
                    the plant is getting insufficient sun, the leaves will turn green</p>
            </li>

            <li>Soil<p>A well-drained, moist soil that has been enriched with compost is ideal. This plant prefers
                    humus-rich, acidic soil.</p>
            </li>

            <li style="font-weight: bold">Temperature and Humidity<p>For croton plants indoors, keep the room above 60
                    degrees Fahrenheit, and do not
                    expose the plant to cold drafts. Humidity, along with a lack of bright light, can affect leaf color.
                    Keep the humidity level at 40 to 80 percent.</p>
            </li>

            <li style="font-weight: bold">Fertilizer<p>this plant prefers slightly acidic soil, use acidifying
                    fertilizers that contain ammonium
                    nitrate, ammonium sulfate, or sulfur-coated urea. </p>
            </li>
        </ol>

        <h2>Problems</h2>
        <ol>
            <li style="font-weight: bold">The insects that like croton include mealybugs, spider mites, scales, and
                thrips.</li>
            <li style="font-weight: bold">Anthracnose is a fungal infection that is sometimes called leaf spot or leaf
                blight.</li>
            <li style="font-weight: bold">Crown gall is a common bacterial infection that affects croton. </li>
            <li style="font-weight: bold">The insects that like croton include mealybugs, spider mites, scales, and
                thrips.</li>
        </ol>

        <h2>Solutions</h2>
        <ul>
            <li style="font-weight: bold">treat the plant with a standard copper-based garden fungicide.</li>
            <li style="font-weight: bold"> Use pesticides to remove these pests or less harsh alternatives, such as
                horticultural oil or insecticidal
                soap.</li>
            <textarea></textarea>
        </ul>
        </p>
    </div>
</body>

</html>