<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="css/final.css" />

</head>

<body>



    <div class="content">
        <div class="contsty">
            <h2>Plants will make your life better</h2>

            <p>
                Plants and trees play a vital role in our lives. Plants are inextricably linked to our life,
                and we are both dependent on one another.
                There can be no other occupation like gardening in which
                if you were to creep up behind someone at their work,
                you would find them smiling

            </p>
            <div>

                <img src="img/kkk.jpg" alt="" style="width:100%">

            </div>

        </div>
    </div>
    <!--indoor plants-->
    <div class="indoor">
        <div class="snake">
            <h2>Create an indoor garden with variety of plants</h2>
            <img src="img/indoor.jpg" alt="">
        </div>

        <!--<div><img src="indoor.jpg" alt="" ></div>-->

    </div>

    <!--outdoor plants-->
    <div class="outdoor">
        <div class="neem">
            <h2>Take a look at some Outdoor plant</h2>
            <img src="img/outdoor.jpg" alt="">
        </div>

    </div>
    <br>
    <a href="/register"><input type="button" value="Explore"
            style="margin-left: 18cm;background-color: black; color: white;"></a>

</body>

</html>