<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gokarna</title>
</head>
<body>
    <p>
        <h2>Information</h2>
        The butterfly pea plant, Clitoria ternatea, is a tropical, perennial, and climbing vine that blooms in the summer with flowers noted for producing natural dyes.
        Although they're mostly grown for their vivid blue, purple, and white flowers.
Vines grow to ten feet in length but have a twining habit that keeps plants to a tidy three feet tall. Leaves are medium green and broader at the base tapering to a point.

<h2>How to take care of this Plant</h2>
<ol>
    <li>Water<p>Butterfly pea seedlings benefit from 1 inch of water per week. Once established, they are drought tolerant and need supplemental irrigation only in prevailing hot, dry conditions.</p></li>
    <li>Light<p>Butterfly pea plants need lots of bright, direct sunlight for 6 to 10 hours daily. Avoid locations where the overhead canopy or neighboring plants cast shade.</p></li>
    <li>Soil<p>Tolerant of soil type, this twining vine grows best in fertile, slightly sandy, and well-draining soils. Plants require a balanced pH of 6.0 to 8.0.</p></li>
    <li>Temperature and Humidity<p>This is a tropical plant that prefers moist air and temperatures between 21°C to 37°C</p></li>
    <li>Fertilizer<p>Add well-aged manure, compost, or balanced NPK fertilizer at when planting. </p></li>
</ol>
<h2>Problems</h2>
Butterfly pea is not vulnerable to many disease or pests.Spider mites and aphids can be the problem.

<h2>Solution</h2>
<ul>
    <li>To get rid from mites use neem oil spray.</li>
    <li>Overwatering shoul be avoided as it lead to bacterial soft rot,mold and mildew</li>
</ul>
<textarea></textarea>
    </p>
</body>
</html>