<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hydra-Plant</title>
    <style>
        .page{
           background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
           background-size: 1500px;
       }
       .page h2{
       
           text-align: center;
           
       }
   </style>
</head>
<body>
    <div class="page">
    <p>
        <h2>Information</h2>
        <p style="font-weight: bold">
        Hydrangea, (genus Hydrangea), any of a genus of erect or climbing woody shrubs, in the family Hydrangeaceae, native to the Western Hemisphere and eastern Asia.
            </p>
        <h2>How to take care of hydrangea plant</h2>
        <ol>
            <li style="font-weight: bold">Water<p>A best practice is to water deeply and not as often as they do not tolerate over-watering.</p></li>
            <li style="font-weight: bold">Soil<p>hydrangeas require a rich, well-draining, evenly moist soil that has been amended with organic matter such as manure or compost.</p></li>
            <li style="font-weight: bold">Temperature and Humidity<p>The hardiness of the lacecap hydrangea depends on the variety but generally, it does better in moderately warm weather and humidity than in a hot, humid summer climate.</p></li>
            <li style="font-weight: bold">Light<p>Lacecap hydrangeas grow best when planted in a location that receives partial sun. A site with morning sun and afternoon shade is ideal. The foliage can become droopy, turn yellow, or scorch in full sun. 
                However, if the hydrangea is planted in too much shade, stems can become weak and produce fewer blooms.</p></li>
            <li style="font-weight: bold">Fertilizer<p>It is recommended to apply a balanced fertilizer in the early spring according to label directions.
                Fertilization should be limited to the spring and should never be done in the late summer.
            </p></li>
        </ol>

        <h2>Problems</h2>
        <ol>
            <li style="font-weight: bold">fungal diseases such as bacterial wilt, blight, leaf spot, and powdery mildew. </li>
            <li style="font-weight: bold">Overwatering can cause root rot.</li>
            <li style="font-weight: bold">Cercospora Leaf Spot</li>
        </ol>

        <h2>Solutions</h2>
        <ul>
            <li style="font-weight: bold"> A heavy infestation might require the application of neem oil or insecticidal soap.</li>
            <li style="font-weight: bold">Throw all the fallen leaves to reduced the fungal spores.</li>
        </ul>
        <textarea></textarea>
    </p>
    </div>
</body>
</html>