<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madhumalti</title>
    <style>
        .page{
           background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
           background-size: 1500px;
       }
       .page h2{
       
           text-align: center;
           
       }
   </style>
</head>
<body>
    <div class="page">
    <p>
        <h2>Information</h2>
        <p style="font-weight: bold">
        Madhumalati, Combretum Indicum, Rangoon creeper
Quisqualis Indica also known as the Chinese honeysuckle, Rangoon Creeper, and Combretum Indicum is a vine with red flower clusters and is found in Asia.
</p>

        <h2>How to take care of Rongoon Creeper</h2>
        <ol>
            <li style="font-weight: bold">Water<p>As Madhumalti Bel blooms during summer season, it requires a lot of water intake.

                So, you might need to water it twice a day daily.
                
                Morning and Evening are the best time to water plants, as sun don’t suck up most of the water.</p></li>

                <li style="font-weight: bold">Light<p>Rangoon Creeper loves sunlight and will flower the best in Sunlight.

                    Consider moving them to a spot where they can receive direct sunlight.</p></li>
                <li style="font-weight: bold">Fertilizer<p>All purpose organic fertilizer before & during flowering season</p></li>    
        </ol>
        <h2>Problems</h2>
        <p style="font-weight: bold">
        Generally, there are no serious disease or pest problems that commonly 
        affect this plant.Occasionally, these plants may be affected by issues like scale and caterpillar attacks.
            </p>
        <h2>Solutions</h2>
        <ul>
            <li style="font-weight: bold">
                You can use neem oil, eucalyptus oil or citrus oil to keep the plant protected against caterpillar attacks and infestations.
            </li>
        </ul>
        <textarea></textarea>

    </p>
</div>
</body>
</html>