<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mogra-Plant</title>
    <style>
        .page{
           background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
           background-size: 1500px;
       }
       .page h2{
       
           text-align: center;
           
       }
   </style>
</head>
<body>
    <div class="page">
    <p></p>
        <h2>Information</h2>
        <p style="font-weight: bold">
        Mogra is known as Arabian Jasmine in English. It is also known as Samagupita and Jasminum Sambac.
        It is a vine or small shrub that grows 1.6 to 9.8 ft in height.
        The strongly scented Mogra flowers have white corolla bloom throughout the year. These lovely flowers bloom to burst after sunset and close in the morning, which leads to them being called Moonflowers.
            </p>
        <h2>How to take care of Mogra-Plant</h2>
        <ol>
            <li style="font-weight: bold">Water<p>Arabian jasmine requires plenty of water, especially during the summer season. Water this plant regularly to keep the soil moist, though not wet. Avoid soggy soil as this will lead to rot.
                It is best to reduce this plant’s water during the winter. 
            </p></li>

            <li style="font-weight: bold">Light<p>Full to partial sun is needed for healthy Arabian jasmine plants. At least 6 to 8 hours of sunlight per day is ideal. If kept indoors during the winter, be sure to place this plant in a very sunny window. </p></li>
            <li style="font-weight: bold">Soil<p>Loose, loamy, humusy soil is preferred by this flowering shrub. It likes an evenly moist, well-draining soil medium. Adding compost will help loosen, enrich, and moisten the soil.</p></li>
            <li style="font-weight: bold">Temperature and Humidity<p>It requires warm climate.It cannot handle the cold climate also it needs high humidity levels.</p></li>
            <li style="font-weight: bold">Fertilizer<p>It is best to use a high-quality, well-balanced fertilizer. Begin fertilizing after pruning in late winter or early spring.</p></li>
        </ol>

        <h2>Problems</h2>
        <ol>
            <li style="font-weight: bold">The most common diseases of jasmine are blight, rust and Fusarium wilt.</li>
            <li style="font-weight: bold">discolored halos or patches, wilted leaves, streaked stems</li>
            <li style="font-weight: bold">leaves turn yellow.</li>
        </ol>

        <h2>Solution</h2>
        <ul>
            <li style="font-weight: bold">
                If you see any pests in your plant,use insecticidal soap or horticultural oil.
            </li>
            <li style="font-weight: bold">Avoid soggy soil as this will lead to rot.</li>
            <li style="font-weight: bold">Feed rich fertilizer to boost growth.</li>
        </ul>
       
    </p>
    </div>
</body>
</html>