<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden-Pothos</title>
    <style>
        .page {
            background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
            background-size: 1500px;
        }

        .page h2 {

            text-align: center;

        }
    </style>
</head>

<body>
    <div class="page">
        <p>
        <h2>Information</h2>
        <p style="font-weight: bold">
            Pothos is an evergreen plant with thick, waxy, green, heart-shaped leaves with splashes of yellow. As a
            houseplant, it is commonly grown as a hanging plant.
            Pothos can climb by means of aerial roots,
            and wild or cultivated plants grown outdoors can reach enormous heights using tall trees as support.
        </p>
        <h2>How to take care of Golden-pothos</h2>
        <ol>
            <li style="font-weight: bold">Water:<p>Let your pothos plant's soil dry out completely between waterings.
                    The plant will indicate when it needs water. When it starts to droop, it needs water to revive it.
                </p>
            </li>

            <li style="font-weight: bold">Light:<p>Pothos likes sun or shade, but you need to watch if it's in too much
                    of either one. When grown indoors,
                    pothos prefers bright but indirect light.</p>
            </li>

            <li style="font-weight: bold">Soil:<p>Pothos plants thrive in ordinary, well-draining potting soil that can
                    be on the dry side or even rocky. Pothos thrives in a soil pH ranging from 6.1 to 6.8. </p>
            </li>
            <li style="font-weight: bold">Temperature and Humidity:<p>Pothos should be kept in temperatures that are
                    consistently above 50 degrees. These plants prefer temperatures between 65 and 75 degrees. Pothos
                    plants grow best in high humidity, but they're also very tolerant of low-humidity conditions.</p>
            </li>
            <li style="font-weight: bold">Fertilizer:<p> Feed pothos plants with a balanced houseplant fertilizer once
                    per month during the spring and summer. Avoid fertilizing in winter when the plant goes dormant.</p>
            </li>
        </ol>

        <h2>Problems</h2>
        <ol>
            <li style="font-weight: bold">Leaves Turning Yellow</li>
            <li style="font-weight: bold">Browning Leaves</li>
            <li style="font-weight: bold">Drooping Leaves</li>
            <li style="font-weight: bold">mealybugs pests</li>
        </ol>

        <h2>Solutions</h2>
        <ul>
            <li style="font-weight: bold">Avoid overwatering if the leaves turn yellow.</li>
            <li style="font-weight: bold">Avoid underwatering and maintain humidity to avoid browning leaves</li>
            <li style="font-weight: bold">Use neem oil or insecticidal soap for mealybugs</li>
        </ul>
        <textarea></textarea>
        </p>
    </div>
</body>

</html>