<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monstera-Plant</title>
    <style>
        .page{
           background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
           background-size: 1500px;
       }
       .page h2{
       
           text-align: center;
           
       }
   </style>
</head>
<body>
    <div class="page">
    <p>
        <h2>Information</h2>
        <p style="font-weight: bold">
        The Swiss cheese plant, or Mexican breadfruit (Monstera deliciosa), is a common houseplant with showy, glossy, perforated leaves slashed to the margins.
        </p>
        <h2>How to take care of Monstera plant</h2>
        <ol>
            <li style="font-weight: bold">Water:<p>Give the plant regular waterings during the growing season every one to two weeks.
                Give the plant regular waterings during the growing season every one to two weeks.
            </p></li>

            <li style="font-weight: bold">Light:<p>This evergreen prefers bright, indirect sunlight in temperatures that remain consistently between 18°C and 23°C.</p></li>

            <li style="font-weight: bold">Soil:<p> it requires peat-based potting media,light sandy, medium loamy, and heavy clay soils with acid or neutral pH.</p></li>

            <li style="font-weight: bold">Fertilizer:<p>Use the diluted fertilizer in place of a regular watering.</p></li>
        </ol>

        <h2>Problems</h2>
        <ol>
            <li style="font-weight: bold">Browning Tips</li>
            <li style="font-weight: bold">Yellow Leaves</li>
            <li style="font-weight: bold">Wilting Leaves</li>
            <li style="font-weight: bold">mealybugs and aphids</li>
        </ol>

        <h2>Solutions</h2>
        <ul><li style="font-weight: bold">
            Clean the roots up, prune off mushy parts, and repot in new soil.
        </li>
        <li style="font-weight: bold">Check the soil and if it's bone dry, give it a good watering.</li>
        <li style="font-weight: bold">Remove the affected leaves and let the plant dry out a bit before watering.</li>
        <li style="font-weight: bold">avoid overwatering</li>
        <textarea></textarea>
    </ul>
    </p>
    </div>
</body>
</html>