<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Document</title>
    <style>
        .page {
            background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
            background-size: 1500px;
        }

        .page h2 {

            text-align: center;

        }
    </style>
</head>

<body>
    <div class="page">
        <p>

        <h2>Information</h2>
        <p style="font-weight: bold">
            Peace lilies (Spathiphyllum species) are attractive indoor foliage plants
            that produce showy white flowers. They are not true lilies but a member of the Araceae
            family, which also includes caladiums, elephant ears, anthuriums, and callas. They are one of
            the few foliage plants that will flower in low light.
        </p>

        <br><br>
        <h2>How to take care of Peace-lily</h2>
        <ol>
            <li style="font-weight: bold">Water<p>Peace lilies prefer being under-watered rather than overwatered.
                    If your water at home is highly chlorinated, it's a good idea to use filtered or distilled water.
                </p>
            </li>

            <li style="font-weight: bold">Light<p>A peace lily needs sunlight, though not direct sun. They are
                    shade-loving plants in their native habitats. But peace lilies indoors need a bit more filtered
                    light.</p>
            </li>


            <li style="font-weight: bold">Soil<p>Peace lilies like a rich, loose potting mix that contains plenty of
                    organic matter. </p>
            </li>



            <li style="font-weight: bold">Temperature and Humidity<p>These plants prefer moist warmth. Avoid cold drafts
                    and temperatures that fall below 55 degrees Fahrenheit; the plant will die when exposed to prolonged
                    cold temperatures. The ideal temperature range for your peace lily is 65 to 80 degrees Fahrenheit.
                    Spritz the leaves every week with softened or distilled water throughout the summer growing season
                    to raise humidity.</p>
            </li>


            <li style="font-weight: bold">Fertilizer<p>Peace lilies appreciate frequent feedings, which result in the
                    strongest plant and seasonal blooming.feed your plant weekly in the summer and no need to fertilize
                    the plant during the winter.</p>
            </li>
        </ol>

        <h2>Problems</h2>
        <ol>
            <li style="font-weight: bold">Has pests like mealybugs</li>
            <li style="font-weight: bold">curling leaves</li>
            <li style="font-weight: bold">browning tips</li>
        </ol>

        <h2>Solutions</h2>
        <ul>
            <li style="font-weight: bold">Spot treatment with horticultural oil is a good strategy for these pests.</li>
            <li style="font-weight: bold">the plant should be moved to a shadier location to savoid curling of leaves.
            </li>
            <li style="font-weight: bold">Avoid overwatering.</li>
        </ul>
        <textarea></textarea>
        </p>
    </div>
</body>

</html>