<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oyster-Plant</title>
    <style>
        .page {
            background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
            background-size: 1500px;
        }

        .page h2 {

            text-align: center;

        }
    </style>
</head>

<body>
    <div class="page">
        <p>
        <h2>Information</h2>
        <p style="font-weight: bold">
            Oyster plant is a short-stemmed, tender foliage plant that makes attractive, small, dense, spreading clumps.
            It
            forms a solid groundcover of upright leaves. The six- to eight-inch-long, sword-shaped leaves are green
            above and
            purplish below.
        </p>
        <h2>How to take care of Oyster Plant</h2>
        <ol>
            <li style="font-weight: bold">Water<p>From spring to fall, water whenever the top 2 inches of soil feel dry.
                    Back off on watering over the
                    winter when the plant is dormant. At this point, watering every two weeks should suffice.</p>
            </li>

            <li style="font-weight: bold">Light<p>The oyster plant does best with bright, indirect light. It can grow in
                    full sun, but it will need
                    some protection from the harsh afternoon sun. It also can survive in shade, but the foliage won't be
                    as
                    vibrant and the plant will likely become leggy.</p>
            </li>

            <li style="font-weight: bold">Soil<p>These plants prefer a fairly rich, well-draining soil with a slightly
                    acidic to neutral soil pH. A
                    sandy loam is perfect, but rocky soil also will do.</p>
            </li>

            <li style="font-weight: bold">Temperature and Humidity<p>Oyster plants thrive in temperatures between 15°C
                    and 26°C.Placing the plant in
                    your bathroom, as long as there is adequate light, is also a good way to provide humidity.</p>
            </li>
        </ol>

        <h2>Problems</h2>
        <ol>
            <li style="font-weight: bold">Root rot</li>
            <li style="font-weight: bold">Pest Infestations</li>
            <li style="font-weight: bold">Curling leaves</li>
            <li style="font-weight: bold">Brown tips and margin of leaves</li>
            <li style="font-weight: bold">Drooping or wilting</li>
        </ol>

        <h2>Solutions</h2>
        <ul>
            <li style="font-weight: bold">Water your plant only when the soil feels dry</li>
            <li style="font-weight: bold">Treat pests with insecticidal soaps or neem oil</li>
            <li style="font-weight: bold">Due to underwatering and overwatering the leaves get curl</li>

        </ul>

        <textarea></textarea>
        </p>
    </div>
</body>

</html>