<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rose-Plant</title>
    <style>
        .page{
           background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
           background-size: 1500px;
       }
       .page h2{
       
           text-align: center;
           
       }
   </style>
</head>
<body>
    <div class="page">
    <p>
        <h2>Information</h2>
        <p style="font-weight: bold">
        Rose bushes (Rosa spp.) are shrubs best known for their fragrant blossoms 
        of red, pink, apricot, yellow, white, and variations. 
        Some rose bushes stand erect, others trail, and a few
         even climb. Their woody stems are studded with sharp thorns. 
            </p>

         <h2>How to take care of Rose-plant</h2>
         <ol>
            <li style="font-weight: bold">Water:<p>Typically, it is best to water roses twice a week—and water them thoroughly.
                Avoid late-evening watering, which can foster powdery mildew, a very common disease among rose plants.
            </p></li>

            <li style="font-weight: bold">Temperature and Humidity:<p>Roses can survive periodic weather extremes, but they prefer temperatures between 60 and 70 degrees 
                Fahrenheit and a humidity range between 60% and 70%.</p></li>

            <li style="font-weight: bold">Light:<p>Rose plant requires full exposure to the sun.</p></li>

            <li style="font-weight: bold">Fertilizer:<p>A good rule of thumb for beginners is to feed roses monthly with a 10-10-10 rose fertilizer. Start feeding them when they 
                are actively growing in spring, coinciding with pruning time.</p></li>
         </ol>

         <h2>Problems</h2>
         <ol>
            <li style="font-weight: bold">Powdery Mildew</li>
            <li style="font-weight: bold">Black Spot and Other Fungi</li>
            <li style="font-weight: bold">Black Spot</li>
         </ol>

         <h2>Solutions</h2>
         <ul>
            <li style="font-weight: bold">We can remove black spots by keeping leaves dry and by maintaining good sanitation.</li>
            <li style="font-weight: bold">Fungicide sprays recommended for use in the home garden.</li>
         </ul>
         <textarea></textarea>
    </p>
    </div>
</body>
</html>