<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chrysanthemum-plant</title>
    <style>
        .page{
           background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
           background-size: 1500px;
       }
       .page h2{
       
           text-align: center;
           
       }
   </style>
</head>
<body>
    <div class="page">
    <p>
        <h2>Information</h2>
        <p style="font-weight: bold">
            The botanical name of Shevanti is Chrysanthemum multifolium. These are herbaceous perennial flowering plants, the flowers of which are also referred to as chrysanthemums, mums, or chrysanths and considered as the second most beautiful in the world after roses. These fragrant flowers come in many colors like light pink, dark pink, yellow, and white. 
        </p>
        <h2>How to take care of plants</h2>
        <ol>
            <li style="font-weight: bold">Water:<p>Mums prefer evenly moist soil. Water the plant when the top 1 inch of soil feels dry.</p></li>
            <li style="font-weight: bold">Temperature and Humidity:<p>
                Heat delay can cause irregularly formed flower buds, erratic flowering, deformation of the plant’s 
                crown, and other developmental issues.
            </p></li>
            <li style="font-weight: bold">Light:<p>This plant requires full exposure of sun.Try to plants your plants where it
                receives at least six hours of sun a day.
            </p></li>
            <li style="font-weight: bold">Soil:<p>It prefer rich and moist and fertile soil with lots of 
                organic matter or compost worked in
            </p></li>
            <li style="font-weight: bold">Fertilizer:<p>It is crucial to feed chrysanthemums during their vegetative phase.</p></li>
        </ol>

        <h2>Problems</h2>
        <ol>
            <li style="font-weight: bold">Decaying leaves</li>
            <li style="font-weight: bold">spotted leaves</li>
            <li style="font-weight: bold">stuned growth</li>
            <li style="font-weight: bold">Fungi Like powdery mildew</li>
        </ol>

        <h2>Solutions</h2>
        <ul>
            <li style="font-weight: bold">Avoid Overwatering</li>
            <li style="font-weight: bold">Full Exposure of sun to avoid spotted leaves</li>
        </ul>
        <textarea></textarea>
    </p>
    </div>
</body>
</html>