<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake-Plant</title>
    <style>
        .page{
            background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
            background-size: 1500px;
        }
        .page h2{
        
            text-align: center;
            
        }

    </style>
</head>
<body>
    <div class="page">
    <p>
        <h2>Information</h2>
        <p style="font-weight: bold">
        Snake plants are considered to be relatively safe, but they're mildly toxic if consumed. 
        Their leaves contain a poison that can cause swelling and numbness on the tongue if eaten in large doses. 
        It's wise to keep this plant away from children and animals who are prone to nibbling.
        </p>
        <h2>How to take care of Snake Plant</h2>
        <ol>
            <li style="font-weight: bold">Water:<p>Let the soil dry out mostly in between watering.
                In winter,this could mean watering only every few weeks or less,
                depending about the size of plant or pot.
            </p></li>

            <li style="font-weight: bold">Light:<p>This plant is adaptable to different light but prefers bright indirect light.
                It can live in a darker spot but it may not grow well.It can also adapt to fair amount 
                of direct sunlight.
            </p></li>

            <li style="font-weight: bold">Fertilizer:<p>Fertilize with a cactus fertilizer in the spring and in summer when 
                the plant is actively growing.
            </p></li>

            <li style="font-weight: bold">Humidity and Temperature:<p>Generally this plant demands high air humidity and it
                prefers to grow in temperature between 18 and 35℃.
            </p></li>
        </ol>

        <h2>Problems with Snake-Plant</h2>
        <ol >
            <li style="font-weight: bold">leaves are droping and bending</li>
            <li style="font-weight: bold">leaves are narrow and streched</li>
            <li  style="font-weight: bold">leaves are soft and mushy</li>
            <li style="font-weight: bold">leaves are deformed or misshapen</li>
            <li style="font-weight: bold">leaves have brown spots or tips</li>
            <li style="font-weight: bold">leaves are turning yellow</li>

        </ol>

        <h2>Solutions </h2>
        <ul >
            <li style="font-weight: bold">To fix the droping and bending issue adjust your watering schedule.
                only watered when the soil has dried.
            </li>
            <li style="font-weight: bold">When plant don't get enough light,they will begin to grow and strech towards the nearest light source.
                So to fix this issue,give your plant a bright indirecct sunlight. you can also give direct 
                sunlight but only for few hours.

            </li>
            <li style="font-weight: bold">remmoved the damaged leaves and move the plant into a drier area.</li>

            <li style="font-weight: bold">The browning and yellowing  of the tips and leaves can be cause due to high temperature so use 
                fertilizer and swap tap watering routine with filtered water to prevent them.
            </li>
        </ul>

        <textarea>Give Solutions here</textarea>
    </p>
    </div>
</body>
</html>