<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song-of-India</title>
    <style>
        .page{
            background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
            background-size: 1500px;
        }
        .page h2{
        
            text-align: center;
            
        }
    </style>

</head>
<body>
    <div class="page">
    <p>
    <h2>Information</h2>
    <p  style="font-weight: bold">
    ong of India (Dracaena reflexa) is an ornamental houseplant with glossy foliage, striped in yellow and green. 
    This house plant, also called Pleomele, is an air-purifying indoor plant. A popular, easy-to-grow variety,
     Song of India has reed-like leaves, edged and streaked in soft gold. Song of India plant is
     described as variegated as the leaves are multi-coloured with bright green centres and yellow margins. 
    </p>
     <h2>How to take care of Plant</h2>
     <ol>
        <li style="font-weight: bold">Water:<p>The song of India requires less water.Always aloow the top inch of the soil to dry out 
            before watering.Reduced watering in summer.
        </p></li>

        <li style="font-weight: bold">Light:<p>The song of infia does not prefer direct sunlight.It grows best in 
            low to medium and indirect sunlight.
        </p></li>

        <li style="font-weight: bold">Fertilizer:<p>Feed the song of india plant with every 15 to 20 days
            during the growing period with a balanced water soluble,mild fertilizer.
        </p></li>

        <li style="font-weight: bold">Humidity:<p>Song of india requires high humidity to flourish.</p></li>
     </ol>

     <h2>Problems with Song of India</h2>
     <ol>
        <li style="font-weight: bold">Brown tips indicate that the plant is not getting enough water. Make sure to check the soil moisture and water accordingly.</li>
        <li style="font-weight: bold">The Song of India can develop mealybugs, especially in new growth.</li>
        <li style="font-weight: bold">Spider mites usually attack the plants if it is too warm and dry</li>

     </ol>

     <h2>Solutions</h2>
     <ul>
        <li style="font-weight: bold">use Neem oil spray as a basic treatment.</li>
        <li style="font-weight: bold">Remove the lower leaves when they turn yellow.</li>
        <li style="font-weight: bold">Fertilise regularly to keep the plant healthy and green.</li>

     </ul>
     <textarea>Give Solutions here</textarea>
    </p>
    </div>
</body>
</html>