<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spider-plant</title>
    <style>
         .page{
            background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
            background-size: 1500px;
        }
        .page h2{
        
            text-align: center;
            
        }
    </style>
</head>
<body>
    <div class="page">
    <p>
        <h2>Information</h2>
        <p style="font-weight: bold">
        Spider plants are often grown in containers as hanging plants due to the cascading nature of their foliage and their long stems with plantlets.
        This plant can grow in a wide range of conditions and suffers from few problems, other than brown tips. The spider plant is so named because of
         its spider-like plants, or spiderettes, which dangle down from the mother plant like spiders on a web.
        </p>
         <h2>How to take care of Spider plant</h2>
         <ol>
            <li style="font-weight: bold">Water:<p>Spider palnts like lightly moist but not soggy soil.
                Overwatering can cause root and ultimately kill the plant.
                
            </p></li>

            <li style="font-weight: bold">Soil:<p>Spider plant prefes a fairly neutral soil pH but can 
                tolerate slightly acidic to slightly alkaline soil.
            </p></li>

            <li style="font-weight: bold">Temperature and Humidity:<p>Warm and humid conditions are ideal for spider plants.
                They dont like temperature below 10℃.
            </p></li>

            <li style="font-weight: bold">Fertilizer:<p>These plants like moderate amount of feeding,roughly once a month during the active growing season
                of spring and summer.
            </p></li>
</ol>
            <h2>Problems </h2>
            <ol>
                <li style="font-weight: bold">It has pests like aphids,whiteflies and spider mites.</li>
                <li style="font-weight: bold">leaves turen brown</li>
                <li style="font-weight: bold">Root rot</li>
                <li style="font-weight: bold">Scorched leaves</li>
            </ol>

            <h2>Solutions</h2>
            <ul>
                <li style="font-weight: bold">Use an all-purpose granular or water-soluble fertilizer during the growing season.  </li>
                <li style="font-weight: bold">Regular misting of the plant can help to maintain adequate humidity.</li>
                <li style="font-weight: bold">so if possible use rainwater or distilled water for container plants.</li>
            </ul>
         
<textarea></textarea>
    </p>
    </div>
</body>
</html>