<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sygnonium</title>
    <style>
        .page{
           background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
           background-size: 1500px;
       }
       .page h2{
       
           text-align: center;
           
       }
   </style>
</head>
<body>
    <div class="page">
    <p>
        <h2>Information</h2>
        <p style="font-weight: bold">
        Syngonium is a genus of flowering plants in the family Araceae, native to tropical
         rainforests in southern Mexico, the West Indies,
         Central and South America. They are woody vines growing to heights of 10–20 m or more in trees.
            </p>

    <h2>How to take Care of Sygnonium plant</h2>
    <ol>
        <li style="font-weight: bold">Water:<p>
            Water the soil thoroughly and wait for the water to drain through, then empty any excess water sitting in the saucer. Allow the top 3-5cm of soil to dry out before watering again. In the cooler months, your plant won’t want as much water.
        </p></li>

        <li style="font-weight: bold">Light:<p>The Syngonium thrives in bright indirect light but will tolerate low light settings.</p></li>

        <li style="font-weight: bold">Fertilizer:<p>Arrowhead vines should be fertilized during the growing season with ½ - ¼ strength complete liquid fertilizer twice a month</p></li>

    </ol>

    <h2>problems</h2>
    <ol>
        <li style="font-weight: bold">Extreme Temperature</li>
        <li style="font-weight: bold">Lack of Light</li>
        <li style="font-weight: bold">Over-Fertilizing</li>
        <li style="font-weight: bold">Low Humidity</li>
        
    </ol>

    <h2>Solutions</h2>
    <ul>
        <li style="font-weight: bold">Ensure that you placed your pkant under the temperature is between 7°C to 30°C</li>
        <li style="font-weight: bold">ensure that you place your Syngonium where it can receive adequate light preferably close to the window.</li>
        <li style="font-weight: bold">Ensure that your fertilizer is rich in phosphate, potassium nitrogen</li>
    </ul>
    <textarea></textarea>
</p>
</div>
</body>
</html>