<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="css/third.css" />
</head>

<body>
    <hr>
    <h1 style="text-align: center;">Indoor Plants</h1>
    <hr>
    <div class="row">
        <div class="column">
            <a href="/peace"><img src="img/pl.jpg" alt="" width="90%"></a>
            <h4 style="text-align: center;">Peace-Lily</h4>
        </div>

        <div class="column">
            <a href="/snake"><img src="img/snake.jpg" alt="" width="90%"></a>
            <h4 style="text-align: center;">Snake-Plant</h4>
        </div>

        <div class="column">
            <a href="/song"><img src="img/songind.jpg" alt="" width="80%"></a>
            <h4 style="text-align: center;">Song-of-India</h4>
        </div>
    </div>

    <div class="row1">
        <div class="column1">
            <a href="/spider"><img src="img/spider.jpg" alt="" width="90%"></a>
            <h4 style="text-align: center;">Spider-Plant</h4>
        </div>

        <div class="column1">
            <a href="/sygnonium"><img src="img/sygnonium.jpg" alt="" width="86%"></a>
            <h4 style="margin-left: 4.8cm;">Sygnonium</h4>
        </div>

        <div class="column1">
            <a href="/zz"><img src="img/zz.jpg" alt="" width="70%"></a>
            <h4 style="margin-left: 2cm;">Zamioculcas zamiifolia</h4>
        </div>
    </div>

    <div class="row2">
        <div class="column2">
            <a href="/money"><img src="img/money.jpg" alt="" width="90%"></a>
            <h4 style="text-align: center;">Golden-Pothos</h4>
        </div>

        <div class="column2">
            <a href="/monstera"><img src="img/monstera.jpg" alt="" width="90%"></a>
            <h4 style="text-align: center;">Monstera-Plant</h4>
        </div>

        <div class="column2">
            <a href="/bamboo"><img src="img/bamboo.jpg" alt="" width="65%"></a>
            <h4 style="margin-left: 3cm;">Lucky-Bamboo</h4>
        </div>
    </div>


    <!--Outdoor-->

    <hr>
    <h1 style="text-align: center;">Outdoor Plants</h1>
    <hr>
    <div class="row3">
        <div class="column3">
            <a href="/croton"><img src="img/croton1.jpg" alt="" width="90%"></a>
            <h4 style="text-align: center;">Croton</h4>
        </div>

        <div class="column3">
            <a href="/boston"><img src="img/boston.jpg" alt="" width="90%"></a>
            <h4 style="text-align: center;">Boston</h4>
        </div>

        <div class="column3">
            <a href="/abc"><img src="img/abc.jpg" alt="" width="90%"></a>
            <h4 style="text-align: center;">Fortune's Spindle</h4>
        </div>
    </div>

    <div class="row4">
        <div class="column4">
            <a href="/vidya"><img src="img/thuja.jpg" alt="" width="90%"></a>
            <h4 style="text-align: center;">ASPARAGUS</h4>
        </div>

        <div class="column4">
            <a href="/pur"><img src="img/pur.jpg" alt="" width="86%"></a>
            <h4 style="text-align: center;"> Oyster-Plant</h4>
        </div>

        <div class="column4">
            <a href="/arecafan"><img src="img/arecafan.jpg" alt="" width="90%"></a>
            <h4 style="text-align: center;">Areca-Fan Plant</h4>
        </div>
    </div>

    <!--Flowering plants-->
    <hr>
    <h1 style="text-align: center;">Flowering Plants</h1>
    <hr>
    <div class="row5">
        <div class="column5">
            <a href="/rose"><img src="img/rose1.jpg" alt="" width="85%"></a>
            <h4 style="text-align: center;">Rose-plant</h4>
        </div>

        <div class="column5">
            <a href="/shevanti"><img src="img/shevanti.jpg" alt="" width="86%"></a>
            <h4 style="text-align: center;"> Chrysanthemum</h4>
        </div>

        <div class="column5">
            <a href="/chini"><img src="img/chini.jpg" alt="" width="95%"></a>
            <h4 style="text-align: center;">Portulaca</h4>
        </div>
    </div>

    <div class="row6">
        <div class="column6">
            <a href="/hydra"><img src="img/hydra.jpg" alt="" width="75%"></a>
            <h4 style="text-align: center;">Hydrangea-Plant</h4>
        </div>

        <div class="column5">
            <a href="/mogra"><img src="img/mogra.jpg" alt="" width="89%"></a>
            <h4 style="text-align: center;">Mogra-Plant</h4>
        </div>

        <div class="column6">
            <a href="/chandni"><img src="img/chandni.jpg" alt="" width="90%"></a>
            <h4 style="text-align: center;">Arabian-Jasmine</h4>
        </div>
    </div>

    <!--Creeps-->
    <hr>
    <h1 style="text-align: center;">Creeps</h1>
    <hr>
    <div class="row5">
        <div class="column5">
            <a href="/madhu"><img src="img/madhu.jpg" alt="" width="85%"></a>
            <h4 style="text-align: center;">Rangoon-Creeper</h4>
        </div>

        <div class="column5">
            <a href="/gokarna"><img src="img/gokarna.jpg" alt="" width="79%"></a>
            <h4 style="text-align: center;"> Gokarna</h4>
        </div>

        <div class="column5">
            <a href="/yellow"><img src="img/yellow.jpg" alt="" width="65%"></a>
            <h4 style="margin-left: 2cm;">Black-eyed Susan vine</h4>
        </div>
    </div>

    <!--<div>
        <a href="#" class="previous">&laquo;Previous</a>
        <a href="#" class="next">&raquo;Next</a>
    </div>-->
</body>

</html>