<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thuja</title>
    <style>
        .page {
            background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
            background-size: 1500px;
        }

        .page h2 {

            text-align: center;

        }
    </style>
</head>

<body>
    <div class="page">
        <p>
        <h2>Information</h2>
        <p style="font-weight: bold">
            Arborvitae are evergreen trees that are easy to care.They grow fast up to 20 feet tall. They can withstand
            cold
            temperatures and rarely have problems with pests and diseases.
        </p>
        <h2>How to take care of Plant</h2>
        <ol>
            <li style="font-weight: bold">Water<p>Your arborvitae will need watering twice weekly for the first few
                    months after planting, then weekly
                    watering (about 1 inch of water) for the next year or so.</p>
            </li>

            <li style="font-weight: bold">Light<p>Emerald green arborvitae should be grown in full sun or partial shade.
                    They generally need at least
                    six hours of sun daily, but too much direct sunlight can stress the plant and burn the foliage.
                    However,
                    they should not be planted in full shade either, since this can greatly reduce the density of the
                    foliage.</p>
            </li>

            <li style="font-weight: bold">Soil<p>Plant arborvitae in moist but well-drained soil with a neutral to
                    alkaline pH level. These shrubs do
                    not like to be continuously doused in water so that their roots sit in soggy soil.</p>
            </li>

            <li style="font-weight: bold">Temperature and Humidity<p>Emerald green arborvitae does better in cooler,
                    dryer climates. In very humid
                    conditions, fungal diseases can be a problem. To help prevent this, plant your trees at least 3 to 4
                    feet apart from one another in order to improve air circulation. Avoid exposed, windy locations,
                    especially in colder climates.</p>
            </li>
        </ol>

        <h2>Problems</h2>
        <ol>
            <li style="font-weight: bold">Browning Leaves in Winter</li>
            <li style="font-weight: bold">Dropping Needles</li>
            <li style="font-weight: bold">Loss of Foliage From Top Down</li>
            <li style="font-weight: bold">Spider mites can also do damage to the trees.</li>
        </ol>

        <h2>Solutions</h2>
        <ul>
            <li style="font-weight: bold"> Remove the affected branches.</li>
            <li style="font-weight: bold"> Treat them with a fungicide.</li>
            <li style="font-weight: bold">Neem oil is an organic pesticide alternative that will kill bagworm larvae.
            </li>
        </ul>
        <textarea></textarea>
        </p>
    </div>
</body>

</html>