<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black-Eyed Susan Vine</title>
</head>
<body>
    <p>
        <h2>Information</h2>
        The black-eyed Susan vine (Thunbergia alata) is a tropical perennial that is often grown as an annual flowering vine.
        The flowers look daisy-like at a distance, with five overlapping, solid-colored petals surrounding a brownish-purple center tube. The medium green leaves are a little coarse and grow opposite one another—they can be either heart-shaped or have a lance-like arrowhead shape.

        <h2>How to take care of Plant</h2>
        <ol>
            <li>Water<p>It's best to water  whenever the top inch or so of soil feels dry to the touch.</p></li>
            <li>Light<p>You will get the most flowers and the healthiest plants if you grow your black-eyed Susan vines in full sun (at least six hours of direct sunlight on most days). The exception is in hot, dry climates, where growing the plants in partial afternoon shade is recommended.</p></li>
            <li>Soil<p>Black-eyed Susan vines like a well-draining soil that is rich in organic matter with a fairly neutral soil pH (6.6 to 7.7).</p></li>
            <li>Temperature and Humidity<p>It requires 60 F temperature for booling the flowers. </p></li>
        </ol>

        <h2>Problem</h2>
        Whiteflies and spider mites can be potential problems.

        <h2>Solution</h2>
        Treat any outbreaks quickly with insecticidal soap.
<br>
        <textarea></textarea>
    </p>
</body>
</html>