<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZZ plant</title>
    <style>
        .page{
           background-image: url("https://img.freepik.com/premium-photo/white-wall-empty-room-with-plants-floor-3d-rendering_41470-3294.jpg");
           background-size: 1500px;
       }
       .page h2{
       
           text-align: center;
           
       }
   </style>
</head>
<body>
    <div class="page">
    <p>
        <h2>Information</h2>
        <p style="font-weight: bold">
        ZZ plants are known as flowering plants, but they very rarely produce flowers. Instead, the plant is known for its wide, dark green leaves. They can make great desk plants or floor plants and can grow quite tall if left alone. 
        The leaves can be 40-60 cm long.
            </p>
        <h2>How to take care of ZZ plant</h2>
        <ol>
            <li style="font-weight: bold">Water:<P>You should generally water zz plants once the soil dries out completely—usually once every two weeks, depending on their growing conditions.It's better to water your plant less than give it too much water. </P></li>
            <li style="font-weight: bold">Light:<p>They can quickly become leggy if not given enough light. When placing the plant in your house, choose a bright, indirect light spot, preferably in a room with south-facing windows. Avoid direct sunlight, as this can s
                corch the leaves of your plants.</p></li>
                <li style="font-weight: bold">Temperatre and Humidity:<p>ZZ plants do not tolerate cold temperatures. ZZ plants don't require humid conditions butAverage household temperatures and humidity are acceptable</p></li>
                <li style="font-weight: bold">Fertilizer:<p>ZZ plants generally do not require regular fertilizing to thrive.</p></li>
        </ol>

        <h2>Problems</h2>
        <ol>
            <li style="font-weight: bold">Stunted Growth</li>
            <li style="font-weight: bold">Leaves Turning Yellow</li>
            <li style="font-weight: bold"> Brown Tips</li>
            <li style="font-weight: bold">Floppy / Drooping Stems</li>
            <li style="font-weight: bold"> Root Rot</li>
        </ol>

        <h2>Solutions</h2>
        <ul>
            <li style="font-weight: bold">For root rot and stunted growth repot yout plant</li>
            <li style="font-weight: bold">do not place plant in excessive and low light</li>
            <li style="font-weight: bold"> style="font-weight: bold"Place the plant in relative humidity.</li>
        </ul>
        <textarea></textarea>

    </p>
    </div>
</body>
</html>